
   <a href="/compose"><button type="button" class="custom-btn" name="button">+</button></a>
</div>
  <div class="footer fixed-bottom">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
</html>
